*:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.3;
}

#wall {
  border-style: solid;
  position: relative;
  border-width: 1px;
  width: 100%;
  margin-top: 1vh;
}

.sector {
  border-style: dashed;
  position: absolute;
}

.grid {
  border-style: solid;
  position: absolute;
  width: 20%;
  height: 25%;
  z-index: 3;
  border-width: 1px;
}

#pause {
  color: red;
}

button {
  border: solid;
  border-width: 0.2px;
  background-color: #FFFFFF;
  padding: 3px 8px;
}

h1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

input {
  padding: 1px 4px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}